body{margin: 0px;
	padding: 0px;
}

header{

	width: 100%;
	height: 10%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	opacity: 0.80;
	
}
nav{
	float: right;
	margin-right: 20px;
	padding: 5px;
}
nav ul {
    padding: 0;
    margin: 0;
    list-style: none;  
    background-color: #fff; 
}

nav li {
    float: left;
    display: inline-block;
}

nav a {
    float: left;
    color: #eee;
    margin: 0 5px;
    padding: 3px;
    text-decoration: none;
    border: 1px solid #831608;
    font: bold 18px Arial, Helvetica;   
    background-color: #831608;
    background-image: linear-gradient(#bb413b, #831608);
    border-radius: 8px;
  	text-shadow: 0 -1px 0 rgba(0,0,0,.8); 
   	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 3px 0 rgba(0, 0, 0, 0.7), 0 2px 2px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5) inset; 
}

nav a:hover {
    background-color: #bb413b;
    background-image: linear-gradient(#831608, #fff);
}

nav a:active {
    background: #bb413b;
    position: relative;
    top: 2px;    
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.7) inset; 
}

nav span {
    border: 1px dashed #eba1a3;
    display: inline-block;
    padding: 4px 15px;
    cursor: pointer;    
    background-color: #bb413b;
    background-image: linear-gradient(#bb413b, #aa2618);
}

nav a:hover span {   
    background-color: #bb413b;
    background-image: linear-gradient(#aa2618, #d4463c);
}

#logo img{

	float: left;
	width: 200px;
	height: 50px;
	margin-left: 20px;
	overflow: hidden;
}

#slider{
	margin-top: 60px; 
}
#slider img{

	width: 100%;
	height: auto;
	display: block;
	
}

#slider p{
	font-family: 'Raleway', sans-serif;
  	font-size: 40px;
  	margin:20px;
  /*	background-color: black ;*/
  	color: green;
 	/*background: -webkit-linear-gradient(#F6891D, #FFF);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;*/
	text-shadow: 2px 2px #000;
	position: absolute;
}
